<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/credential.css") %>"/>
  <% claim = @credential.claim %>
  <title><%= claim.lesson_name %></title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
</head>
<body>
  <div id="demo">
    <div class="container" v-if="credentialData">
        <img src="<%= Routes.static_path(@conn, "/images/background_2.jpeg") %>" alt="" style="width: 120%;height: 120%;">

        <div class="cert-title">
            <h1>
            <center>
            <%= claim.lesson_name%>
            <br>结课证书
            </center>
            </h1>
        </div>
        <div class="cert-context">

        <br>
        <div><b>学生姓名：</b><%= claim.name %></div>
        <br>
        <div><b>学生weid：</b><%= claim.weid %></div>
        <br>
        <b>课程名称：<%= claim.lesson_name %></b>
        <br><br>
        <b>结课日期：</b> <%= claim.date %>
        <br><br>
        <div><b>存证合约地址：</b> <%= claim.evidence_addr %></div>
        <br>
        <div><b>存证键值：</b></div>
        <div><%= claim.evidence_key %></div>
        <br>
        <div><b>存证内容：</b></div>
        <div><%= claim.evidence_value %></div>

        <br>
        <div><b>颁证方</b></div>
        <div>
          <img src="<%= Routes.static_path(@conn, "/images/welight_logo1_1.png") %>" alt="" style="width: 50px;height: 50px;vertical-align:middle;">
          微芒链管理委员会
        </div>
        <div><%= @credential.issuer %></div>

    </div>
</body>
</html>
